<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('partials/head') %>

<body>
	<!-- Header -->

	<%-include('partials/header')%>

	<!-- /Header -->

	<!-- Banner -->
		<div class="banner">
			<img src="/images/banner.jpeg" alt="Banner de ofertas">
		</div>
	<!-- /Banner -->



	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
	

<!-- CAMBIAR ACA  -->
			</h2>
			<form action="/login" method="post" class="col-12 col-md-6">
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" name="email" id="email" class="form-control" required>
				</div>
				<div class="form-group">
					<label for="password">Contraseña</label>
					<input type="password" name="password" id="password" class="form-control" required>
				</div>
				<div class="form-group">
				<label for="remember">Recordarme</label>
				<input type="checkbox" name="remember" value="false">
				</div>

				<button type="submit" class="btn btn-primary">Ingresar</button>
			</form>
			<p><%= error %></p>

<!-- HASTA ACA  -->


		</div>
	</div>
	<!-- footer -->

	<%-include('partials/footer')%>

	<!-- /footer -->
</body>

</html>